@(message: String)

@main("Welcome to Play 2.1") {
    
    <h1>Reactive-o-matic</h1>


	UUID:<input type="text" id="UUID" /><br/>
	Latency:<input type="text" id="latency" value='0.4' /><br/>
	GEO: <input type="text" id="geo" value='' /><br/>
	<button id="send">Send</button>
	<textarea id="msg"></textarea>

	<script type="text/javascript" charset="utf-8">
		var ws = null,
			ws_onmessage = function(e) {
				// Global so you can override it ;)
				console.log("rec:", e.data);
			}

		window.addEventListener("load", function() {
			document.getElementById("UUID").value = ~~(Math.random() * 9000)  +1000;
			var button = document.getElementById("send"),
				history = document.getElementById("get");
			button.addEventListener("click", send, false);
			//history.addEventListener("click", show, false);

			navigator.geolocation.watchPosition(function(e){
				document.getElementById("geo").value = e.coords.latitude + "," + e.coords.longitude;

			}, function(e){console.log("errr");}, {
        		enableHighAccuracy: true,
        		maximumAge: 5000
      		});

		}, false);

		function send() {
			if(!ws) {
				var uuid = document.getElementById("UUID").value;
				document.getElementById("UUID").disabled = true;
				ws = new WebSocket("ws://localhost:9000/hi?uuid=" + uuid);
				ws.onmessage = ws_onmessage;
				ws.onopen = function(e) {
					ws.send(document.getElementById("msg").value);
				}
				return;
			}
			ws && ws.send(document.getElementById("msg").value);
		}

		function show() {

		}
	</script>    
}
