@(message: String)

@main("Welcome to Play 2.1") {

	<div class="grid">
		<header>
			<h1>Reactive-O-Matic</h1>
		</header>

		<h2 class="catchphrase">Analyse your <span>connection</span>.</h2>
	</div>

	<!-- Insérer map ici -->

	<img class="map" src="/assets/images/map.jpg" alt="">

	UUID:<input type="text" id="UUID" /><br/>
	Message:<input type="text" id="msg" value='{"msg": 1}' /><br/>
	<button id="send">Send</button>

	<script type="text/javascript" charset="utf-8">
		var ws = null,
			ws_onmessage = function(e) {
				// Global so you can override it ;)
				console.log("rec:", e.data);
			}

		window.addEventListener("load", function() {
			document.getElementById("UUID").value = ~~(Math.random() * 9000)  +1000;
			var button = document.getElementById("send");
			button.addEventListener("click", send, false);
		}, false);

		function send() {
			if(!ws) {
				var uuid = document.getElementById("UUID").value;
				document.getElementById("UUID").disabled = true;
				ws = new WebSocket("ws://localhost:9000/hi?uuid=" + uuid);
				ws.onmessage = ws_onmessage;
				ws.onopen = function(e) {
					ws.send(document.getElementById("msg").value);
				}
				return;
			}
			ws && ws.send(document.getElementById("msg").value);
		}
	</script>    
}
